.victim__filter {
    padding: 0 20px;
    
    input[type='number'] {
        width: 100px;
    }

    .filter__date {
        display: inline-block;

        .form-group {
            display: inline-block;
        }

        input {
            width: 100px;
        }
    }
}
