.block-level-image {
    &.body-media-large {
        // margin-left: -20px;
        // margin-right: -20px;
    }
}

.image-wrapper {
    margin-bottom: 10px;
}


.content-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
        width: 100%;
    }

    > .body-media-small {
        width: 50%;
        max-width: 600px;
        cursor: pointer;

        @media (min-width: 600px) {
            width: 25%;
        }
    }

}

.gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > li {
        width: 50%;
        max-width: 600px;
        cursor: pointer;

        @media (min-width: 600px) {
            width: 25%;
        }
    }
}


.overlay-image {
    width: 100%;
    height: 100%;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}