
.header__navs {
    display: none !important;
}

footer {
    display: none !important;
}


.warvictim__naw {
    text-align: center;

    .image {
        display: inline-block;
        max-width: 30%;
    }

    a {
        display: none;
    }

    .btn-primary {
        display: none;
    }
}

.warvictim__meta {
    border: none !important;
    padding: 0;

    > p,
    > h3,
    > ul {
        display: none;
    }

    text-align: center;
}

.action {
    display: none;
}

.logo-light {
    display: none;
}

.logo-dark {
    display: block;
    height: 50px;
    width: auto;
}

p {
    max-width: 100%;
}

main {
    padding-top: 0;

    .hero-image {
        padding-top: 0;
    }
}
