
.bg- {
    background-color: $body-bg-light;

    #content {
        background-color: #fff;
    }
}

.hero-image {
    padding: 20px;
    .naambordje-xl {
        border-radius: $border-radius;
    }
}

.warvictim__about {

    @media screen and (min-width: $screen-md-min) {
        display: grid;
    }
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    &.warvictim__commemoration {
        grid-template-columns: 1fr 1.5fr;
    }

    .bg-light & {
        grid-template-columns: 1fr 2fr;

        h1 {
            font-size: $font-size-h2;
        }

        color: $text-color-gray;
    }

    .commemorator {
        font-weight: 500;

        &:after {
            content: ":";
        }
    }

    .warvictim__naw {
        grid-column: 1;
        grid-row: 1;

        padding: 20px;
        text-align: center;

        .commemorated & {
            text-align: left;
        }

        img {
            width: 100%;
            height: auto;

            border: 2px solid $border-color;
            border-radius: $border-radius;
        }

        h1 {
            margin-bottom: 30px;
        }

        .warvictim__dates,
        .warvictim__address {
            font-size: 2rem;
        }

        .btn-block {
            margin-top: 30px;
        }

    }

    .warvictim__meta {
        grid-column: 2;
        grid-row: 1;

        margin: 20px;
        padding: 20px;
        border: 2px solid $border-color;
        border-radius: $border-radius;
    }

    .warvictim__commemoration {
        grid-column: 2;
        grid-row: 1;

        margin: 20px;
    }
}

