.page-page_home {

    div.subtitle {
        p {
            font-style: italic;
            margin-top: 2.1777777777777778rem;
            margin-bottom: 2.1777777777777778rem;
            font-size: 1.8rem;
            display: block;
            line-height: 1.08888888888889;
        }
    }

}