.clickable {
    cursor: pointer;
}

.docutils.literal {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 2px 4px;
    background: #fbfbf6;
}

.docutils.container {
    padding-left: 0;
    padding-right: 0;
}



// Optional header message in the top nav.

.header-message {
    padding: 10px;
    background-color: $brand-warning;
    color: white;
}

header:has(.header-message) {
    .home-link {
        padding-top: 10px;
    }
    .navbar.navbar-grid .nav-wrapper .nav-wrapper2 {
        padding-bottom: 0 !important;
    }
}
