
#sidedrawer {
    .search-form {
        margin: 2rem 1rem;

        > input {
            border-radius: 20px;
        }
    }

    .logo {
        margin-top: 0.9rem;
        padding-bottom: 10px;
    }

    .nav-stacked {

        > li > a {
            padding-left: 2.2rem;
            color: white;

            &:hover,
            &.active {
                color: white;
                background-color: $zotonic-blue;
            }
        }

        .selected > a {
            color: $zotonic-blue;
        }

        .divider {
            border-bottom: 1px solid $zotonic-blue;
        }
    }

    > div > .nav-stacked {
        > li > a {
            font-size: 1.4rem;
        }

        .nav-stacked {
            > li > a {
                padding-left: 3.2rem;
            }

            .nav-stacked {
                > li > a {
                    padding-left: 4.2rem;
                }

                .nav-stacked {
                    > li > a {
                        padding-left: 5.2rem;
                    }
                }
            }
        }
    }
}
