/*! autoprefixer: off */

:root {
    --safe-area-inset-top:      0px;
    --safe-area-inset-right:    0px;
    --safe-area-inset-bottom:   0px;
    --safe-area-inset-left:     0px;
}

@supports (padding-top: env(safe-area-inset-top))  {
    :root {
        --safe-area-inset-top:      env(safe-area-inset-top, 0);
        --safe-area-inset-right:    env(safe-area-inset-right, 0);
        --safe-area-inset-bottom:   env(safe-area-inset-bottom, 0);
        --safe-area-inset-left:     env(safe-area-inset-left, 0);
    }
}


html, body {
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    display: -ms-grid;
    -ms-grid-columns: 1fr minmax(200px,300px) minmax(500px,1500px) 1fr;
    -ms-grid-rows: 0 auto 1fr auto auto;

    display: grid;
    grid-template-columns: 1fr minmax(200px,300px) minmax(500px,1500px) 1fr;
    grid-template-rows: 0 auto 1fr auto auto;

    @media (min-width: 1200px) {
        -ms-grid-columns: 1fr minmax(200px,400px) minmax(500px,1500px) 1fr;
        grid-template-columns: 1fr minmax(200px,400px) minmax(500px,1500px) 1fr;
    }

    background-color: $bg-color-dark;
}

#content-wrapper {
    width: 100%;
    -ms-grid-column-align: center;      // margin auto doesn't work well in IE11
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    grid-column: 3;
    grid-row: 3;

    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    background-color: $bg-color-light;

    main {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        grid-column: 1;
        grid-row: 1;
        background-color: inherit;
    }

    footer {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        grid-column: 1;
        grid-row: 2;
    }
}

#header-wrapper {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    header {
        display: -ms-grid;
        -ms-grid-columns: 1fr minmax(200px,1300px) 1fr;
        -ms-grid-rows: $navbar-height;

        display: grid;
        grid-template-columns: 1fr minmax(200px,1300px) 1fr;
        grid-template-rows: $navbar-height;

        position: relative;
        top: 0;
        transition: all .6s;

        // box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
        //             0 3px 20px 0px rgba(0, 0, 0, 0.12),
        //             0 8px 10px -5px rgba(0, 0, 0, 0.2);

        > nav {
            -ms-grid-column: 2;
            grid-column: 2;
            background-color: $bg-color-dark;
        }
    }
}

.wide-content {
    #header-wrapper {
        header {
            -ms-grid-columns: 0 1fr 0;
            grid-template-columns: 0 1fr 0;
        }
    }
}

#nav-toggle {
    display: none;
}

.navbar.navbar-grid {
    display: -ms-grid;
    -ms-grid-columns: 60px 1fr;
    -ms-grid-rows: $navbar-height;

    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: $navbar-height;

    > label {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        grid-column: 1;
        grid-row: 1;
        display: block;
        position: absolute;
        left: 0;
        font-size: 30px;
        line-height: 30px;
        padding: 10px;
        cursor: pointer;
        transition: .3s ease-in-out;

        &:hover {
            transform: rotate(-30deg);
        }
    }

    > div.home-link {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        grid-column: 2;
        grid-row: 1;
        min-width: 0;
        text-align: center;
        overflow: hidden;

        a {
            overflow: hidden;

            img {
                max-height: 70px;
                max-width: 100%;
            }
        }
    }
}

/* Show main nav */
@media (min-width: $grid-min-sidemenu) {
    // Use body:after for bg image.
    // iOS doesn't support background-attachment: fixed
    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: -1;
        // background: url(../image/bg.jpg) center center;
        background-size: cover;
    }

    #sidedrawer {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
        grid-column: 2;
        grid-row: 3;

        > div {
            position: -webkit-sticky;
            position: sticky;
            padding-top: 10px;
            max-height: calc(100vh - 10px - $header-height);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .navbar.navbar-grid {
        -ms-grid-columns: 0 1fr 60px;
        grid-template-columns: 0 1fr 60px;

        &.no-user {
            -ms-grid-columns: 0 1fr auto;
            grid-template-columns: 0 1fr auto;
        }

        > label {
            display: none;
        }
    }
}

/* Show main nav as "hamburger" menu */
@media (max-width: $grid-max-no-sidemenu) {

    body {
        -ms-grid-columns: 0 0 1fr 0;
        -ms-grid-rows: $navbar-height auto 1fr auto;
        grid-template-columns: 0 0 1fr 0;
        grid-template-rows: $navbar-height auto 1fr auto;
    }

    #header-wrapper {
        display: block;
        color: #eee;
    }

    .if-full-width {
        display: none !important;
    }
    #sidedrawer {
        display: block;
        position: fixed;
        z-index: 1000;
        top: $navbar-height;
        width: 300px;
        left: -300px;
        bottom: 0;
        overflow-y: auto;
        transition: .3s ease-in-out;
        background-color: $bg-color-dark;

        > div {
            max-height: calc(100vh - $navbar-height);
            overflow-y: auto;
        }
    }
    #nav-toggle:checked ~ #sidedrawer {
        left: 0;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #nav-toggle:checked ~ #header-wrapper #nav-label {
        transform: rotate(-90deg);
    }
    #nav-toggle:checked ~ #sidedrawer-bg {
        display: block;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .navbar.navbar-grid {
        border: 0;
        > div.home-link {
            text-align: center;
        }
    }

    .scrolled-down {
        #header-wrapper header {
            top: -$navbar-height;
            box-shadow: none;
        }
        #sidedrawer {
            top: 0;
        }
        .sticky {
            top: 0;
            z-index: 101;
        }
    }
}
